{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blog</title>
    {% bootstrap_css %} {% bootstrap_javascript jquery='full' %}
  </head>
  <body>
    {% if request.user.is_authenticated %}
    <nav class="navbar h-54 navbar-expand-md gradient-background mb-4">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <span class="navbar-text">Have a nice day, {{request.user}}!</span>
          </li>
          <form class="nav-link" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-link" type="submit">log out</button>
          </form>
        </ul>
      </div>
    </nav>
    {% endif %}
    <main role="main" class="container">
      <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
      </div>
      <div>{% block content %}{% endblock content %}</div>
    </main>
  </body>

  <style>
    .gradient-background {
      background: linear-gradient(90deg, #eea390 0%, #eb796f 43%, #eb796f 100%);
    }
  </style>
</html>
